@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");

:root {
  --bg-color: #16161a;
  --main-text: #fdfcfc;
  --accent-color: #daff40;
  --subtitle: #8b7df7;

  --size-title: 48px;
  --size-subtitle: 36px;
  --p: 26px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Outfit", sans-serif;
  color: var(--main-text);
  font-size: var(--p);
  font-weight: lighter;
}
/* Codigo generico */
/* Hace que los svg sean "responsive" */
.svg {
  width: 100%;
  height: auto;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--main-text);
}
.acentuado {
  color: var(--accent-color);
}
.subtitulo {
  font-size: var(--size-subtitle);
}
/* Codigo especifico */
/* Nav */
.centrar_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.barra_nav_container {
  position: relative;
  width: 100%;
  z-index: 5;
}
.fondo_nav {
  z-index: 1;
}
.foto_perfil {
  width: 20%;
  position: absolute;
  z-index: 7;
  transform: translateY(-25px);
  transition: transform 0.5s ease;
}
.foto_perfil:hover {
  transform: translateY(1px);
  cursor: pointer;
}
.elementos_navegacion {
  font-size: var(--p);
  gap: 413px;
  transform: translateY(-120px);
  position: relative;
  z-index: 6;
}
.vinculo {
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}
.vinculo:hover {
  border-color: var(--accent-color);
  cursor: pointer;

  color: var(--accent-color);
}
/* Main */
/* Texto principal */
.texto_principal {
  height: 60vh;
  display: flex;
  align-items: center;
  transform: translateY(-100px);
}
h1 {
  font-size: var(--size-title);
  margin-left: 180px;
}
/* Tarjetas */
.secciones {
  margin: 0 228px;
}
.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.tarjeta {
  width: fit-content;
}
.texto_derecha {
  text-align: right;
}

.derecha {
  transform: translateX(-60px);
}
.izquierda {
  transform: translateX(60px);
}
/* Footer */
.footer_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bg {
  position: absolute;
  z-index: -1;
}
.elementos_footer {
  transform: translateY(110px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons_footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  gap: 25px;
}

.icons {
  color: var(--main-text);
  transition: transform 0.5s ease;
}
.icons:hover {
  transform: translateY(-8px);
}
