@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");

:root {
  --bg-color: #16161a;
  --main-text: #fdfcfc;
  --accent-color: #daff40;
  --subtitle: #8b7df7;

  --size-title: 4.8rem;
  --size-subtitle: 3.6rem;
  --p: 2.6rem;

  --size-title-mobile: 3rem;
  --size-subtitle-mobile: 2.6rem;
  --p-mobile: 1.8rem;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Outfit", sans-serif;
  color: var(--main-text);
  font-size: var(--p);
  font-weight: lighter;
}
body > * {
  max-width: 100%;
}
/* Codigo generico */
/* Hace que los svg sean "responsive" */
.svg {
  width: 100%;
  height: auto;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--main-text);
}
.acentuado {
  color: var(--accent-color);
}

/* Codigo especifico */
/* Nav */
.column {
  flex-direction: column;
}
.foto_perfil {
  width: 20%;
  z-index: 3;
  transition: transform 0.5s ease;
}
.foto_perfil:hover {
  transform: translateY(1px);
  cursor: pointer;
}
.elementos_navegacion {
  font-size: var(--p);
  gap: 41rem;
  transform: translateY(-150px);
  position: relative;
  z-index: 2;
}
.vinculo {
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}
.vinculo:hover {
  border-color: var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
}
/* Main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subtitulo {
  font-size: var(--size-subtitle);
}
h1 {
  font-size: var(--size-title);
}
.texto_principal {
  height: 20vh;
  width: 70%;
}
.foto_perfil {
  transform: translateY(-25px);
  position: absolute;
}
.centrar_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Tarjetas */
.container_secciones {
  width: 75%;
}

.grid {
  display: grid;
  place-items: center start;
  grid-template-columns: repeat(2, 1fr);
  gap: 20%;
  margin: 300px 0;
}
.sobremi {
  margin: -20px 0 100px 0;
  height: 50vh;
  gap: 8%;
}
.texto_tarjeta {
  font-size: var(--p);
}
.texto_derecha {
  text-align: right;
}
.icon_svg_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difuminado {
  width: 60%;
  height: 60%;
  background: #6857f0;
  filter: blur(150.5px);
  position: absolute;
  z-index: -1;
}
.responsive-image {
  max-width: 70%;
  height: auto;
  transition: transform 0.5s ease;
}

.responsive-image:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* Footer */

.footer_bg {
  max-width: 100%;
  position: absolute;
  z-index: -1;
}
.elementos_footer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer_container {
  display: flex;
  justify-content: end;
}
.icons_footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  gap: 25px;
}
.icons_footer_container > li {
  width: min-content;
}

.icons {
  color: var(--main-text);
  transition: transform 0.5s ease;
  font-size: 4rem;
}
.icons:hover {
  transform: translateY(-8px);
}
@media screen and (min-width: 601px) {
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: var(--size-title-mobile);
    width: 100%;
  }
  .texto_principal {
    height: 30vh;
    width: 70%;
  }
  .elementos_navegacion {
    font-size: var(--p);
    gap: 13rem;
    transform: translateY(-50px);
    position: relative;
    z-index: 2;
  }
  .subtitulo {
    font-size: var(--size-subtitle-mobile);
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .texto_tarjeta {
    font-size: var(--p-mobile);
    margin: 0;
  }
  .difuminado {
    width: 50%;
    height: 50%;
    filter: blur(60px);
  }
  .libro {
    grid-row: 2/3;
  }
  .icons_footer_container {
    width: 50%;
    margin: 0;
    display: grid;
    place-items: center;
    gap: 0;
  }
  .icons {
    font-size: 1.8rem;
  }
}
